<div class="inner-container">
    <div class="logo">
        <img ng-src="$__FIXME__$">
    </div>
    <div class="record">
        <h1> Wins: ???????? Losses: ???????? </h1>
    </div>
    <div class="btn" ng-click="$__FIXME__$"> Add a New Game </div>
    <form ng-show="$__FIXME__$" class="form">
        <span class="large"> Opponent: </span>
        <br />
        <select ng-model="$__FIXME__$" ng-options="team for team in teams" class="form-control" required name="team"></select>
        <br />
        <span class="large"> Score: </span>
        <br /> ????????:
        <input class="inputs" type="text" ng-model="$__FIXME__$" placeholder="Home Score"> ????????:
        <input type="text" class="inputs" ng-model="$__FIXME__$" placeholder="Opponent Score">
        <br />
        <button ng-click="$__FIXME__$"> Submit Game </button>
    </form>
    <div class="team-data">
        <div class="game" ng-repeat="game in teamData" ng-class="{'even' : $index % 2 === 0}">
            <!-- Each game should end up looking something like this:
        Date: May 29, 1997
        Utah Jazz - 103
        Houston Rockets - 100
      -->
            Date: ????????
            <br /> ???????? - ????????
            <br /> ???????? - ????????
            </br />
        </div>
    </div>
</div>