<div class="inner-container">
  <div class="team-container">
    <img src="images/jazz-logo.png">
    <h4>
      Utah Jazz <br />
      Wins: {{jazzData.wins}} Losses: {{jazzData.losses}}
    </h4>
    <div class="together-game" ng-repeat="game in jazzData" ng-class="{'even' : $index % 2 === 0}">
      Date: {{game.createdAt | date}} <br />
      Utah Jazz - {{game.homeTeamScore}} <br />
      {{game.opponent}} - {{game.opponentScore}} </br />
    </div>
  </div>
  <div class="team-container">
    <img src="images/lakers-logo.png">
    <h4>
      Los Angeles Lakers <br />
      Wins: {{lakerData.wins}} Losses: {{lakerData.losses}}
    </h4>
    <div class="together-game" ng-repeat="game in lakerData" ng-class="{'even' : $index % 2 === 0}">
      Date: {{game.createdAt | date}} <br />
      Los Angeles Lakers - {{game.homeTeamScore}} <br />
      {{game.opponent}} - {{game.opponentScore}} </br />
    </div>
  </div>
  <div class="team-container">
    <img src="images/heat-logo.png">
    <h4>
      Miami Heat <br />
      Wins: {{heatData.wins}} Losses: {{heatData.losses}}
    </h4>
    <div class="together-game" ng-repeat="game in heatData" ng-class="{'even' : $index % 2 === 0}">
      Date: {{game.createdAt | date}} <br />
      Miami Heat - {{game.homeTeamScore}} <br />
      {{game.opponent}} - {{game.opponentScore}} </br />
    </div>
  </div>
</div>
